nav#top-nav {
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 100%;

  z-index: 99;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: rgba(29, 29, 29, 0.85);
    backdrop-filter: blur(3px);

    z-index: -1;
  }

  div.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin: 10px;

    div.nav-right {
      display: flex;
      align-items: center;

      gap: 25px;

      > a {
        font-size: 15px;
        font-weight: 500;

        color: #ababab;
        text-decoration: none;

        transition: 0.15s ease-in-out;

        &:hover {
          color: #ececec;
        }
      }

      .donate {
        display: flex;
        gap: 5px;

        padding: 2px;
        padding-left: 3px;
        padding-right: 5px;

        border-radius: 6px;

        svg {
          position: relative;
          top: 2.5px;
        }

        &:hover {
          color: rgba(29, 29, 29, 1);
          background-color: rgb(255, 221, 0);
          border-radius: 6px;
        }
      }
    }

    div.nav-left {
      margin-top: 4px;

      a {
        color: rgb(211, 211, 211);
        text-decoration: none;
      }
    }
  }
}

.nav-space {
  height: 40px;
}
