body {
  background-color: white;

  .bg {
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;

    z-index: -9;
    background-color: rgb(25, 25, 25);
  }
}

.title {
  text-align: center;
  color: white;
}

main.list {
  display: flex;
  justify-content: center;

  align-items: stretch;
  flex-wrap: wrap;

  gap: 20px;

  .vtuber {
    width: 450px;
    height: 275px;

    background: linear-gradient(
        45deg,
        rgba(225, 127, 0, 0.15) 0%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      #2d2c3f;
    box-shadow: 0px -15px 0px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 15px;

    .banner {
      overflow: hidden;
      width: 450px;
      height: 130px;

      img {
        margin: 7.5px;
        width: 435px;
        height: 110px;

        object-fit: cover;
        border-radius: 7.5px;

        mask-image: url('/img/header/mask.svg');
        mask-position: 0px center;
        mask-size: 435px;
      }
    }

    .avatar img {
      position: relative;

      width: 85px;
      height: auto;

      top: -55px;
      right: -10px;

      border-radius: 20px;
      margin: 5px;
    }
  }
}
