body {
  background-color: white;

  .bg {
    position: fixed;
    top: 0;

    height: 100%;
    width: 100%;

    z-index: -9;
    background-color: rgb(25, 25, 25);
  }
}

.title {
  text-align: center;
  color: white;
}

main.list {
  display: flex;
  justify-content: center;

  align-items: stretch;
  flex-wrap: wrap;

  gap: 20px;

  .vtuber {
    width: 450px;
    height: 333px;

    transition: 0.08s transform, 0.2s background-color;

    &:hover {
      transform: translateY(-5px);
      background-color: rgb(58, 56, 81);
    }

    background: linear-gradient(
        45deg,
        rgba(225, 127, 0, 0.15) 0%,
        rgba(255, 255, 255, 0.15) 100%
      ),
      #2d2c3f;

    box-shadow: 0px -15px 0px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 15px;

    .banner {
      overflow: hidden;
      width: 450px;
      height: 130px;

      img {
        margin: 7.5px;
        width: 435px;
        height: 110px;

        object-fit: cover;
        border-radius: 7.5px 7.5px 0px 0px;

        mask-image: url('/img/header/mask.svg');
        mask-position: 0px center;
        mask-size: 435px 110px;

        cursor: pointer;
      }
    }

    .avatar {
      position: relative;
      top: -55.25px;
      right: -10.55px;

      width: fit-content;

      cursor: pointer;

      img {
        width: 85px;
        height: auto;

        border-radius: 20px;
        margin: 5px;
      }
    }

    .language {
      position: relative;
      top: -102.5px;
      right: -110px;
      width: fit-content;
      padding: 3px 10px 4px 10px;
      border-radius: 5px;

      background-color: #e17f00;

      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 15px;
      font-weight: 600;
      color: white;
    }

    .social_media {
      position: relative;
      display: flex;
      width: 215px;

      flex-direction: row;
      justify-content: right;
      align-items: center;
      gap: 10px;

      top: -130px;
      right: -225px;

      svg {
        color: white;

        transition: 0.1s transform;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .name {
      position: relative;
      top: -117.5px;
      right: -10px;

      width: fit-content;

      color: #fff;
      text-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
      font-size: 26px;
      font-family: 'Plus Jakarta Sans';
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      cursor: pointer;
    }

    .affiliation {
      position: relative;
      top: -122px;
      right: -10px;

      width: fit-content;

      a {
        color: #ebebeb;
        font-weight: 600;
        font-style: normal;
        font-size: 15px;
        text-decoration-line: none;
      }
    }

    .description {
      position: relative;
      top: -122px;

      width: fit-content;
      height: 84px;
      margin: 10px;

      color: #dedede;
      font-size: 16.5px;
      word-wrap: normal;
    }
  }
}
