.home {
  display: flex;
  justify-content: center;
  align-items: center;

  .first-content {
    display: flex;
    flex-direction: row;
    position: relative;

    margin-right: 175px;

    margin-top: 31vh;

    .upper {
      position: relative;

      > p {
        margin: 0;

        color: rgb(185, 185, 185);

        font-size: 35px;
        font-weight: 500;
      }

      > p:nth-child(2) {
        margin: 0;

        color: white;

        font-size: 70px;
        font-weight: 700;
      }

      a {
        text-decoration: none;
      }

      .explore {
        width: 210px;

        margin-top: 45px;

        .btn {
          display: flex;
          align-items: center;
          justify-content: center;

          height: 57.5px;

          background-color: #35afca;
          border-radius: 10px;

          > p {
            position: relative;
            margin-left: 50px;

            text-align: center;

            color: #0e3e48;
            font-weight: 700;
            font-size: 24px;
          }

          > svg {
            margin-left: 10px;
            margin-top: 2px;

            color: #0e3e48;
            font-size: 20px;

            transition: transform 0.15s;
          }

          transition: box-shadow 0.15s, transform 0.15s;

          &:hover {
            box-shadow: 0px 0px 45px -10px #35afca;
            transform: scale(1.05);

            > svg {
              transform: translateX(3.5px) scale(1.025);
            }
          }
        }
      }
    }

    .showcase {
      display: flex;
      flex-direction: row;
      position: relative;

      width: 600px;
      height: 550px;

      top: -150px;
      left: 200px;

      overflow: hidden;

      > div {
        position: absolute;

        height: 200px;

        &::before {
          content: '';
          position: relative;
          display: block;

          width: 325px;
          height: 200px;

          border-radius: 15px;

          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        &::after {
          content: '';
          position: relative;
          display: block;

          top: -340px;

          width: 325px;
          height: 340px;

          background-repeat: no-repeat;
          background-size: cover;
          background-position: top;
        }
      }

      > div:nth-child(1) {
        left: 125px;
        top: 250px;

        z-index: 3;

        &::before {
          background-image: url('/img/header/inugami_korone.webp');

          filter: grayscale(1) brightness(0.4) contrast(1.1);
        }

        &::after {
          background-image: url('/img/model/inugami_korone.webp');
        }
      }

      > div:nth-child(2) {
        left: 250px;
        top: 190px;

        z-index: 2;

        &::before {
          background-image: url('/img/header/pochi_wanmaru.webp');

          filter: opacity(0.65) grayscale(1) brightness(0.2) contrast(1.1)
            blur(2px);
        }

        &::after {
          background-image: url('/img/model/pochi_wanmaru.webp');

          left: 30px;

          filter: brightness(0.35) blur(1px);
        }
      }

      > div:nth-child(3) {
        left: 75px;
        top: 145px;

        z-index: 1;

        &::before {
          background-image: url('/img/header/shiki_miyoshino.webp');

          filter: opacity(0.45) grayscale(1) brightness(0.2) contrast(1.1)
            blur(4px);
        }

        &::after {
          background-image: url('/img/model/shiki_miyoshino.webp');

          filter: brightness(0.2) blur(4px);
        }
      }

      > svg {
        position: absolute;
        left: 155px;
        top: 44px;

        z-index: -1;

        filter: blur(45px) opacity(0.25);

        path {
          fill: white;
        }
    }
    }

    svg.bg-blur {
      position: absolute;
      left: -510px;
      top: -240px;

      z-index: -1;

      filter: blur(125px);

      path {
        position: relative;

        fill: rgba(53, 175, 202, 0.15);
      }
    }
  }
}
